/* -------------------------
   OGÓLNE
------------------------- */
body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    width: 100vw;
}

/* Mapa na pełny ekran */
#map {
    height: 100vh;
    width: 100vw;
}

/* Sidebar kwadratowy na mapie */
#sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    height: 350px;
    padding: 10px;
    background: #e4e3e3;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* Panele w sidebar */
.panel {
    margin-bottom: 10px;
}

/* Przycisk ogólny */
button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

/* Kolory przycisków */
#resetPoints { background-color: #f44336; color: white; }
#loginBtn, #leaderboardBtn { background-color: #2196F3; color: white; }

/* Specjalne przyciski */
#changeAddress {
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}
#setHomeOnMap {
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}
#loginBtn {
    border-radius: 10px;
    background-color: rgb(128, 159, 216);
    color: rgb(255, 255, 255); 
}
#leaderboardBtn {
    border-radius: 10px;
    background-color: rgb(128, 159, 216);
    color: rgb(255, 255, 255);
}

/* -------------------------
   RESPONSYWNOŚĆ
------------------------- */
@media (max-width: 768px) {
    #sidebar {
        width: 90%;
        height: 400px; /* trochę większy na telefonie */
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        font-size: 18px;
        padding: 12px;
    }
}
