/* -------------------------
   OGÓLNE
------------------------- */
body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    width: 100vw;
}

/* Mapa na pełny ekran */
#map {
    height: 100vh;
    width: 100vw;
}

/* Sidebar kwadratowy na mapie */
#sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 500px;
    height: 600px;
    padding: 10px;
    background: #3c3c3c;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
    color: white;
    text-align: center;
}

/* Panele w sidebar */
.panel {
    margin-bottom: 10px;

}

/* Przycisk ogólny */
button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

/* Kolory przycisków */
#resetPoints { background-color: #f44336; color: white; }
#loginBtn, #leaderboardBtn { background-color: #2196F3; color: white; }

/* Specjalne przyciski */
#changeAddress {
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}
#setHomeOnMap {
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}
#loginBtn {
    border-radius: 10px;
    background-color: rgb(129, 136, 149);
    color: rgb(255, 255, 255); 
    margin-top: 75px;
}
#leaderboardBtn {
    border-radius: 10px;
    background-color: rgb(128, 159, 216);
    color: rgb(255, 255, 255);
}
#usernameInput{
    background-color: grey;
    border-radius: 20px;
    border-color: white;
    width: 300px;
    height: 50px;
    
}
#passwordInput{
    background-color: grey;
    border-radius: 20px;
    border-color: white;
    width: 300px;
    height: 50px;
}
input::placeholder{
    color: white;
    padding-left: 125px;
    font-size: large;
    
}
#createAccountBtn{
   width: 500px;
}
#loginBtn{
    width: 500px;
}


/* -------------------------
   RESPONSYWNOŚĆ
------------------------- */
@media (max-width: 768px) {
    #sidebar {
        width: 90%;
        height: 400px; /* trochę większy na telefonie */
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        font-size: 18px;
        padding: 12px;
    }
}




